In [1]:
from cisi.data import CISIData

## Data Import

In [2]:
path = '/Users/sergiopicascia/Downloads/archive'
data = CISIData(path)

## EDA

In [3]:
# Data about texts
data.documents.head()

   id  ...                                      related_texts
0   1  ...  [(1, 5, 1), (92, 1, 1), (262, 1, 1), (556, 1, ...
1   2  ...  [(2, 5, 2), (32, 1, 2), (76, 1, 2), (132, 1, 2...
2   3  ...  [(3, 7, 3), (42, 1, 3), (172, 1, 3), (268, 1, ...
3   4  ...  [(4, 10, 4), (5, 2, 4), (9, 1, 4), (32, 1, 4),...
4   5  ...  [(4, 2, 5), (5, 6, 5), (90, 1, 5), (91, 1, 5),...

[5 rows x 5 columns]

In [4]:
# Occurrences of each author
data.documents['author'].value_counts()

author
Salton, G.                                                           9
Lancaster, F.W.                                                      8
Garfield, E.                                                         6
Line, M.B.                                                           6
Brookes, B. C.                                                       6
                                                                    ..
Hoyle, W. G.                                                         1
Lynch, Michael F. Petrie, J. Howard Snell, Michael J.                1
Fugman, Robert                                                       1
Barber, Stephanie A. Barraclough, Elizabeth D. Gray, W. Alexander    1
Poluskin, V.A.                                                       1
Name: count, Length: 1201, dtype: int64

In [5]:
# Texts of the most frequen author
data.documents.loc[data.documents['author'] == 'Salton, G.']

        id  ...                                      related_texts
174    175  ...  [(26, 2, 175), (29, 1, 175), (34, 1, 175), (38...
178    179  ...  [(30, 1, 179), (179, 14, 179), (180, 1, 179), ...
362    363  ...  [(6, 1, 363), (30, 1, 363), (62, 1, 363), (125...
564    565  ...  [(Automatic,), (indexing,), (methods,), (are,)...
607    608  ...  [(38, 1, 608), (51, 1, 608), (57, 1, 608), (69...
804    805  ...  [(19, 1, 805), (37, 1, 805), (39, 2, 805), (40...
823    824  ...  [(The,), (existing,), (practice,), (in,), (aut...
1293  1294  ...  [(38, 2, 1294), (51, 2, 1294), (63, 1, 1294), ...
1326  1327  ...  [(30, 1, 1327), (34, 1, 1327), (38, 1, 1327), ...

[9 rows x 5 columns]

In [6]:
# Data about queries
data.queries.head()

   id title author                                               text  book
0   1  <NA>   <NA>  What problems and concerns are there in making...  <NA>
1   2  <NA>   <NA>  How can actually pertinent data, as opposed to...  <NA>
2   3  <NA>   <NA>  What is information science?  Give definitions...  <NA>
3   4  <NA>   <NA>  Image recognition and any other methods of aut...  <NA>
4   5  <NA>   <NA>  What special training will ordinary researcher...  <NA>

In [7]:
# First 10 queries with known author
data.queries.loc[data.queries['author'].notna()].head(10)

    id  ...                                               book
57  58  ...  (JASIS, Vol. 31, No. 6, November 1980, pp. 438...
58  59  ...    (JASIS, Vol. 31, No. 4, July 1980, pp. 264-270)
59  60  ...    (JASIS, Vol. 31, No. 4, July 1980, pp. 278-282)
60  61  ...    (JASIS, Vol. 31, No. 4, July 1980, pp. 271-277)
61  62  ...    (JASIS, Vol. 31, No. 4, July 1980, pp. 240-247)
62  63  ...  (JASIS, Vol. 31, No. 5, September 1980, pp. 30...
63  64  ...    (JASIS, Vol. 31, No. 4, July 1980, pp. 248-255)
64  65  ...  (Inform. Systems, Vol. 5, No. 3, 1980, pp. 189...
65  66  ...  (JASIS, Vol. 31, No. 6, November 1980, pp. 425...
66  67  ...  (JASIS, Vol. 31, No. 6, November 1980, pp. 396...

[10 rows x 5 columns]

In [8]:
# Data about relations
data.relations

      query document
0         1       28
1         1       35
2         1       38
3         1       42
4         1       43
...     ...      ...
3109    111      422
3110    111      448
3111    111      485
3112    111      503
3113    111      509

[3114 rows x 2 columns]

In [9]:
# Count of documents assigned to each query
data.relations.groupby('query').count()

       document
query
1            46
2            26
3            44
4             8
5            24
...         ...
101           1
102          24
104          11
109          71
111           6

[76 rows x 1 columns]

In [10]:
# Average number of documents per query
data.relations.groupby('query').count().mean()

document    40.973684
dtype: float64