In [1]:
from cisi_project import cisi

In [2]:
path = '/Users/sergiopicascia/Downloads/archive'
data = cisi.CISIData(path)

In [6]:
data.documents

,id,title,author,text,related_texts
0,1,18 Editions of the Dewey Decimal Classifications,"Comaromi, J.P.",The present study is a history of the DEWEY De...,"[(1, 5, 1), (92, 1, 1), (262, 1, 1), (556, 1, ..."
1,2,Use Made of Technical Libraries,"Slater, M.",This report is an analysis of 6300 acts of use...,"[(2, 5, 2), (32, 1, 2), (76, 1, 2), (132, 1, 2..."
2,3,Two Kinds of Power An Essay on Bibliographic C...,"Wilson, P.",The relationships between the organization and...,"[(3, 7, 3), (42, 1, 3), (172, 1, 3), (268, 1, ..."
3,4,Systems Analysis of a University Library; fin...,"Buckland, M.K.",The establishment of nine new universities in ...,"[(4, 10, 4), (5, 2, 4), (9, 1, 4), (32, 1, 4),..."
4,5,A Library Management Game: a report on a resea...,"Brophy, P.",Although the use of games in professional educ...,"[(4, 2, 5), (5, 6, 5), (90, 1, 5), (91, 1, 5),..."
...,...,...,...,...,...
1455,1456,World Dynamics,"Forrester, J.W.",Over the last several decades interest in econ...,"[(350, 1, 1456), (435, 1, 1456), (1025, 1, 145..."
1456,1457,World Trends in Library Education,"Bramley, G.",One of the most significant aspects of the evo...,"[(128, 1, 1457), (130, 1, 1457), (191, 1, 1457..."
1457,1458,Legal Restrictions on Exploitation of the Pate...,"Baxter, W.A.",The patent laws confer on a patentee power to ...,"[(1458, 5, 1458), (1458, 5, 1458)]"
1458,1459,Language and Thought,"Poluskin, V.A.",This book considers the basic aspects of this ...,"[(362, 1, 1459), (585, 1, 1459), (1093, 1, 145..."
1459,1460,Modern Integral Information Systems for Chemis...,"Chernyi, A.I.","At the present time, about 15% of all the worl...","[(347, 1, 1460), (452, 1, 1460), (1095, 1, 146..."

In [7]:
data.queries

,id,title,author,text,book
0,1,<NA>,<NA>,What problems and concerns are there in making...,<NA>
1,2,<NA>,<NA>,"How can actually pertinent data, as opposed to...",<NA>
2,3,<NA>,<NA>,What is information science? Give definitions...,<NA>
3,4,<NA>,<NA>,Image recognition and any other methods of aut...,<NA>
4,5,<NA>,<NA>,What special training will ordinary researcher...,<NA>
...,...,...,...,...,...
107,108,A Program for Machine-Mediated Searching,"Toliver, D.",A technique of online instruction and assistan...,"(Information Processing & Management, Vol. 17,..."
108,109,Author Cocitation: A Literature Measure of In...,"White, H.D. Griffith, B.C.",It is shown that the mapping of a particular a...,"(JASIS, Vol. 32, No. 3, May 1981, pp. 163-171)"
109,110,Progress in Documentation. Word Processing: A...,"Whitehead, J.","The ""Office of the Future,"" ""Office Technology...","(Journal of Documentation, Vol. 36, No. 4, Dec..."
110,111,Document Clustering Using an Inverted File App...,"Willett, P.",An automated document clustering procedure is ...,"(Journal of Information Science, 2, 1980, pp. ..."
111,112,A Fast Procedure for the Calculation of Simila...,"Willett, P.",A fast algorithm is described for comparing th...,"(Information Processing & Management, Vol. 17,..."

In [8]:
data.relations

     query document
0        1       28
1        1       35
2        1       38
3        1       42
4        1       43
...    ...      ...
3109   111      422
3110   111      448
3111   111      485
3112   111      503
3113   111      509

[3114 rows x 2 columns]