In [1]:
import pandas as pd

In [2]:
excel_file_path = '/Users/azatbekovna/Desktop/UNIMI/Python/ProjectDSE/dscoding-projects/malika.makhmudova/travel-project/worldcities.xlsx'

In [3]:
df = pd.read_excel(excel_file_path)
print(df)

              city   city_ascii      lat       lng      country iso2 iso3  \
0            Tokyo        Tokyo  35.6897  139.6922        Japan   JP  JPN
1          Jakarta      Jakarta  -6.2146  106.8451    Indonesia   ID  IDN
2            Delhi        Delhi  28.6600   77.2300        India   IN  IND
3           Mumbai       Mumbai  18.9667   72.8333        India   IN  IND
4           Manila       Manila  14.5958  120.9772  Philippines   PH  PHL
...            ...          ...      ...       ...          ...  ...  ...
26564         Nord         Nord  81.7166  -17.8000    Greenland   GL  GRL
26565  Timmiarmiut  Timmiarmiut  62.5333  -42.2167    Greenland   GL  GRL
26566  Cheremoshna  Cheremoshna  51.3894   30.0989      Ukraine   UA  UKR
26567    Ambarchik    Ambarchik  69.6510  162.3336       Russia   RU  RUS
26568      Nordvik      Nordvik  74.0165  111.5100       Russia   RU  RUS

               admin_name  capital  population          id
0                   Tōkyō  primary  37977000.0  1392685764
1                 Jakarta  primary  34540000.0  1360771077
2                   Delhi    admin  29617000.0  1356872604
3             Mahārāshtra    admin  23355000.0  1356226629
4                  Manila  primary  23088000.0  1608618140
...                   ...      ...         ...         ...
26564          Sermersooq      NaN        10.0  1304217709
26565            Kujalleq      NaN        10.0  1304206491
26566   Kyyivs’ka Oblast’      NaN         0.0  1804043438
26567    Sakha (Yakutiya)      NaN         0.0  1643739159
26568  Krasnoyarskiy Kray      NaN         0.0  1643587468

[26569 rows x 11 columns]