In [1]:
import numpy as np
import pandas as pd
import geopandas as gpd
tempByCity = pd.read_csv(r'C:\Users\sangi\Desktop\Info progetto python\Datasets\GlobalLandTemperaturesByCity.csv').dropna().reset_index()
tempByCountry = pd.read_csv(r'C:\Users\sangi\Desktop\Info progetto python\Datasets\GlobalLandTemperaturesByCountry.csv')
tempByMajorCity = pd.read_csv(r'C:\Users\sangi\Desktop\Info progetto python\Datasets\GlobalLandTemperaturesByMajorCity.csv')
tempByState = pd.read_csv(r'C:\Users\sangi\Desktop\Info progetto python\Datasets\GlobalLandTemperaturesByState.csv')

In [2]:
tempByCity.isna().sum()

index                            0
dt                               0
AverageTemperature               0
AverageTemperatureUncertainty    0
City                             0
Country                          0
Latitude                         0
Longitude                        0
dtype: int64

In [3]:
tempByCity.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8235082 entries, 0 to 8235081
Data columns (total 8 columns):
 #   Column                         Dtype
---  ------                         -----
 0   index                          int64
 1   dt                             object
 2   AverageTemperature             float64
 3   AverageTemperatureUncertainty  float64
 4   City                           object
 5   Country                        object
 6   Latitude                       object
 7   Longitude                      object
dtypes: float64(2), int64(1), object(5)
memory usage: 502.6+ MB

In [15]:
tempByCity.head(20)

,index,dt,AverageTemperature,AverageTemperatureUncertainty,City,Country,Latitude,Longitude
0,0,1743-11-01,6.068,1.737,Århus,Denmark,57.05N,10.33E
1,5,1744-04-01,5.788,3.624,Århus,Denmark,57.05N,10.33E
2,6,1744-05-01,10.644,1.283,Århus,Denmark,57.05N,10.33E
3,7,1744-06-01,14.051,1.347,Århus,Denmark,57.05N,10.33E
4,8,1744-07-01,16.082,1.396,Århus,Denmark,57.05N,10.33E
5,10,1744-09-01,12.781,1.454,Århus,Denmark,57.05N,10.33E
6,11,1744-10-01,7.950,1.630,Århus,Denmark,57.05N,10.33E
7,12,1744-11-01,4.639,1.302,Århus,Denmark,57.05N,10.33E
8,13,1744-12-01,0.122,1.756,Århus,Denmark,57.05N,10.33E
9,14,1745-01-01,-1.333,1.642,Århus,Denmark,57.05N,10.33E
10,15,1745-02-01,-2.732,1.358,Århus,Denmark,57.05N,10.33E
11,16,1745-03-01,0.129,1.088,Århus,Denmark,57.05N,10.33E
12,17,1745-04-01,4.042,1.138,Århus,Denmark,57.05N,10.33E
13,74,1750-01-01,1.699,1.013,Århus,Denmark,57.05N,10.33E
14,75,1750-02-01,3.961,2.361,Århus,Denmark,57.05N,10.33E
15,76,1750-03-01,5.182,3.480,Århus,Denmark,57.05N,10.33E
16,77,1750-04-01,7.197,0.732,Århus,Denmark,57.05N,10.33E
17,78,1750-05-01,10.634,1.351,Århus,Denmark,57.05N,10.33E
18,79,1750-06-01,14.913,1.181,Århus,Denmark,57.05N,10.33E
19,80,1750-07-01,17.831,1.220,Århus,Denmark,57.05N,10.33E

As our project is focused on cities temperatures, now we only focus on two datasets: tempByCity and tempByMajorCity

We can see that there are 3448 cities, and 100 major cities. We will start with major cities.

In [5]:
tempByCity["City"].nunique()

3448

In [6]:
tempByMajorCity["City"].nunique()

100

We create lists of coordinates for both major cities and all cities.

In [7]:
citiesLat = list(tempByCity["Latitude"])
citiesLon = list(tempByCity["Longitude"])

In [8]:
gpd.points_from_xy(citiesLat, citiesLon,)

ValueError: could not convert string to float: '57.05N'

In [22]:
cities = tempByCity[["City", "Country"]]
cities.tail(20)

AttributeError: 'DataFrame' object has no attribute 'unique'