In [1]:
import pandas as pd
import numpy as np
import os
import math

In [779]:
cities = pd.read_excel(r'C:\Users\murat.aydin\Desktop\worldcities.xlsx')

In [780]:
def haversine_distance_in_km(lat1, lon1, lat2, lon2):
    # Radius of the Earth in kilometers
    earth_radius = 6371  # You can use 3959 for miles

    # Convert latitude and longitude from degrees to radians
    lat1 = math.radians(lat1)
    lon1 = math.radians(lon1)
    lat2 = math.radians(lat2)
    lon2 = math.radians(lon2)

    # Differences in latitude and longitude
    dlat = lat2 - lat1
    dlon = lon2 - lon1

    # Haversine formula
    a = math.sin(dlat/2)**2 + math.cos(lat1) * math.cos(lat2) * math.sin(dlon/2)**2
    c = 2 * math.atan2(math.sqrt(a), math.sqrt(1 - a))
    distance = earth_radius * c

    return distance

In [795]:
cities = cities[cities['lat']>30].reset_index().drop(['index'],axis=1)

In [796]:
cities['distance_km'] = cities.apply(lambda row: haversine_distance_in_km(london_lat, london_lng, row['lat'], row['lng']), axis=1)
df = cities.sort_values('distance_km')

In [797]:
def check_population(population):
    if population > 200000:
        return 2
    else:
        return 0

In [798]:
def check_country(current_city_country,destination_country):
    if current_city_country != destination_country:
        return 2
    else:
        return 0

In [799]:
def get_travel_cost(index):
    res_dict = {0:2,1:4,2:8}
    return res_dict[index]

In [800]:
def calculate_cost(current_city_country,current_city_id,df):
    #current_city_country = df[df['city_id']==current_city_id]['country'].values[0]
    #df = df[df['city_id']!=current_city_id]
    #df = df.reset_index().drop('index',axis=1)
    
    df['cost_country'] = df.apply(lambda row: check_country(current_city_country,row['country']), axis=1)
    df['cost_pop'] = df.apply(lambda row: check_population(row['population']), axis=1)
    df['travel_cost'] = df.apply(lambda row: get_travel_cost(row.name), axis=1)


    return df

In [801]:
def sum_total_cost(row):
    return row['cost_country'] + row['cost_pop'] + row['travel_cost']

In [802]:
def choose_optimum_city(df):
    
    df = df.sort_values(by=['lng'], ascending=[False]).reset_index().loc[0]
    city_id = df['city_id']
    total_cost = df['total_cost']
    city_name = df['city_name']
    lat = df['lat']
    lng = df['lng']
    country= df['country']
    return {'city_id':city_id,'total_cost':total_cost,'city_name':city_name,'lat':lat,'lng':lng,'country':country}

In [803]:

df = df.rename(columns={'id':'city_id','city':'city_name'})
df = df.reset_index().drop('index',axis=1)
df

,city_name,city_ascii,lat,lng,country,iso2,iso3,admin_name,capital,population,city_id,distance_km
0,London,London,51.5072,-0.1275,United Kingdom,GB,GBR,"London, City of",primary,10979000.0,1826645935,0.000000
1,Holborn,Holborn,51.5172,-0.1182,United Kingdom,GB,GBR,Camden,NaN,13023.0,1826657058,1.284766
2,Lambeth,Lambeth,51.4903,-0.1193,United Kingdom,GB,GBR,Lambeth,NaN,9675.0,1826545364,1.963051
3,Spitalfields,Spitalfields,51.5166,-0.0750,United Kingdom,GB,GBR,Tower Hamlets,NaN,10286.0,1826499077,3.780491
4,Kensington,Kensington,51.5000,-0.1900,United Kingdom,GB,GBR,Kensington and Chelsea,NaN,64681.0,1826583042,4.399398
...,...,...,...,...,...,...,...,...,...,...,...,...
19382,Katsuura,Katsuura,35.1525,140.3211,Japan,JP,JPN,Chiba,NaN,17324.0,1392044206,9636.254742
19383,Kisanuki,Kisanuki,31.3447,130.9453,Japan,JP,JPN,Kagoshima,NaN,14495.0,1392204633,9638.538863
19384,Kushima,Kushima,31.4645,131.2284,Japan,JP,JPN,Miyazaki,NaN,17363.0,1392989065,9639.374565
19385,Nishinoomote,Nishinoomote,30.7325,130.9975,Japan,JP,JPN,Kagoshima,NaN,14980.0,1392981409,9700.971905
19386,Nakata,Nakata,30.5331,130.9586,Japan,JP,JPN,Kagoshima,NaN,7702.0,1392487535,9718.801061

In [804]:
import random
random.seed(42)  # For reproducibility, you can change the seed or remove it
sampled_df = pd.concat([df.iloc[0:1], df.iloc[1:].sample(n=499, random_state=42)], ignore_index=True)
sampled_df = sampled_df.sort_values(by='distance_km')
sampled_df = sampled_df.reset_index().drop('index',axis=1)
sampled_df

,city_name,city_ascii,lat,lng,country,iso2,iso3,admin_name,capital,population,city_id,distance_km
0,London,London,51.5072,-0.1275,United Kingdom,GB,GBR,"London, City of",primary,10979000.0,1826645935,0.000000
1,Kensington,Kensington,51.5000,-0.1900,United Kingdom,GB,GBR,Kensington and Chelsea,NaN,64681.0,1826583042,4.399398
2,Wanstead,Wanstead,51.5778,0.0286,United Kingdom,GB,GBR,Redbridge,NaN,11543.0,1826002020,13.347853
3,East Barnet,East Barnet,51.6430,-0.1630,United Kingdom,GB,GBR,Barnet,NaN,16137.0,1826125584,15.298259
4,Pinner,Pinner,51.5932,-0.3894,United Kingdom,GB,GBR,Harrow,NaN,31130.0,1826466478,20.478690
...,...,...,...,...,...,...,...,...,...,...,...,...
495,Yuasa,Yuasa,34.0331,135.1786,Japan,JP,JPN,Wakayama,NaN,11340.0,1392420914,9552.428391
496,Kamirenjaku,Kamirenjaku,35.6833,139.5594,Japan,JP,JPN,Tōkyō,NaN,192489.0,1392889022,9554.535603
497,Zama,Zama,35.4886,139.4075,Japan,JP,JPN,Kanagawa,NaN,130608.0,1392313741,9568.783454
498,Makinohara,Makinohara,34.7400,138.2247,Japan,JP,JPN,Shizuoka,NaN,44111.0,1392331994,9600.638815
499,Kumano,Kumano,33.8833,136.1000,Japan,JP,JPN,Mie,NaN,16140.0,1392123261,9604.406353

In [805]:
def calculate_cost(current_city_country,current_city_id,df):
    #current_city_country = df[df['city_id']==current_city_id]['country'].values[0]
    #df = df[df['city_id']!=current_city_id]
    df = df.reset_index().drop('index',axis=1)
    
    df['cost_country'] = df.apply(lambda row: check_country(current_city_country,row['country']), axis=1)
    df['cost_pop'] = df.apply(lambda row: check_population(row['population']), axis=1)
    df['travel_cost'] = df.apply(lambda row: get_travel_cost(row.name), axis=1)


    return df

In [806]:

city_ids = sampled_df.city_id.to_list()
info_cities = {}

for each_city_id in city_ids:
    lat = sampled_df[sampled_df['city_id']==each_city_id].lat.values[0]
    lng = sampled_df[sampled_df['city_id']==each_city_id].lng.values[0]    
    name = sampled_df[sampled_df['city_id']==each_city_id].city_name.values[0]
    country_name = sampled_df[sampled_df['city_id']==each_city_id].country.values[0]
    
    sampled_df['distance_km'] = sampled_df.apply(lambda row: haversine_distance_in_km(lat,lng, row['lat'], row['lng']), axis=1)
    df_sorted = sampled_df.sort_values(by='distance_km').reset_index().drop('index',axis=1)
    nearest_three = df_sorted[1:4]
    cost_df = calculate_cost(country_name,each_city_id,nearest_three)
    sum_df_calculated = cost_df.assign(total_cost=cost_df.apply(sum_total_cost, axis=1))
    city_info = {
        'city_names': nearest_three['city_name'].to_list(),
        'city_ids': nearest_three['city_id'].to_list(),
        'city_distances': nearest_three['distance_km'].to_list(),
        'city_latitudes':  nearest_three['lat'].to_list(),
        'city_longitudes':  nearest_three['lng'].to_list(),
        'city_pops': nearest_three['population'].to_list(),
        'city_countries': nearest_three['country'].to_list(),
        'city_total_cost' : sum_df_calculated['total_cost'].to_list()
    }
    
    info_cities[each_city_id] = city_info

In [807]:
len(info_cities)

500

In [808]:
total_cost = 0
coordinates_lat = []
coordinates_lng = []
city_and_country = []

for each_city in info_cities.keys():
    eastest_city_index = info_cities[each_city]['city_longitudes'].index(max(info_cities[each_city]['city_longitudes']))
    eastest_city_id = info_cities[each_city]['city_ids'][eastest_city_index]
    eastest_city_cost = info_cities[each_city]['city_total_cost'][eastest_city_index]
    eastest_city_lat = info_cities[each_city]['city_latitudes'][eastest_city_index]
    eastest_city_lng = info_cities[each_city]['city_longitudes'][eastest_city_index]
    eastest_city_country = info_cities[each_city]['city_countries'][eastest_city_index]
    eastest_city_name= info_cities[each_city]['city_names'][eastest_city_index]
    total_cost += eastest_city_cost
    coordinates_lat.append(eastest_city_lat)
    coordinates_lng.append(eastest_city_lng)
    city_and_country.append(eastest_city_country+'_'+eastest_city_name)
    
coordinates = zip(coordinates_lat,coordinates_lng)

In [809]:
city_and_country

['United Kingdom_Wanstead',
 'United Kingdom_London',
 'United Kingdom_London',
 'United Kingdom_Wanstead',
 'United Kingdom_London',
 'United Kingdom_London',
 'United Kingdom_Wanstead',
 'United Kingdom_East Barnet',
 'United Kingdom_Sevenoaks',
 'United Kingdom_Wheathampstead',
 'United Kingdom_Wheathampstead',
 'United Kingdom_Claygate',
 'United Kingdom_Horley',
 'United Kingdom_Birchington',
 'United Kingdom_Wheathampstead',
 'United Kingdom_Claygate',
 'United Kingdom_Bexhill',
 'United Kingdom_Sevenoaks',
 'United Kingdom_Heybridge',
 'United Kingdom_Wheathampstead',
 'United Kingdom_Heybridge',
 'United Kingdom_Wellingborough',
 'United Kingdom_Hook',
 'United Kingdom_Handsworth',
 'United Kingdom_East Retford',
 'United Kingdom_Lincoln',
 'United Kingdom_Wellington',
 'United Kingdom_Blackwood',
 'United Kingdom_East Retford',
 'France_Wasquehal',
 'United Kingdom_Mossley',
 'Belgium_Bruges',
 'United Kingdom_Blackwood',
 'United Kingdom_East Retford',
 'United Kingdom_Poynton',
 'United Kingdom_Wool',
 'United Kingdom_Blackwood',
 'United Kingdom_Church',
 'United Kingdom_High Ackworth',
 'United Kingdom_Church',
 'United Kingdom_Barnoldswick',
 'United Kingdom_Church',
 'United Kingdom_Church',
 'France_Montfermeil',
 'France_Montfermeil',
 'France_Vincennes',
 'France_Montfermeil',
 'United Kingdom_Haxby',
 'Germany_Weißenthurm',
 'Germany_Ennigerloh',
 'France_Montfermeil',
 'Germany_Illingen',
 'Germany_Weißenthurm',
 'Germany_Ennigerloh',
 'Germany_Warstein',
 'United Kingdom_Whitley Bay',
 'United Kingdom_Whitley Bay',
 'United Kingdom_Peterculter',
 'Germany_Ennepetal',
 'Germany_Breisach am Rhein',
 'Germany_Zeven',
 'Germany_Grünstadt',
 'Germany_Rietberg',
 'Germany_Löhne',
 'Germany_Rietberg',
 'Germany_Rietberg',
 'Germany_Warstein',
 'Germany_Rietberg',
 'Germany_Neuenstadt am Kocher',
 'United Kingdom_Fraserburgh',
 'Germany_Northeim',
 'Germany_Meldorf',
 'Switzerland_Dübendorf',
 'Germany_Zeven',
 'Germany_Ruhla',
 'United Kingdom_Peterculter',
 'Germany_Ruhla',
 'Switzerland_Dübendorf',
 'Germany_Lorch',
 'United Kingdom_Fraserburgh',
 'Germany_Lorch',
 'Germany_Lorch',
 'Germany_Bad Blankenburg',
 'Switzerland_Zermatt',
 'Switzerland_Zermatt',
 'Switzerland_Dübendorf',
 'Switzerland_Zermatt',
 'Germany_Lorch',
 'Germany_Heubach',
 'Germany_Lorch',
 'Switzerland_Sankt Gallen',
 'Germany_Herzberg',
 'Germany_Wangen im Allgäu',
 'Germany_Burgstädt',
 'Andorra_Canillo',
 'Germany_Parsberg',
 'Germany_Wangen im Allgäu',
 'Switzerland_Sankt Gallen',
 'Switzerland_Ostermundigen',
 'France_Agen',
 'Germany_Furth im Wald',
 'Germany_Heubach',
 'Germany_Furth im Wald',
 'Germany_Gardelegen',
 'Germany_Lauchhammer',
 'France_Agen',
 'Germany_Lauchhammer',
 'Germany_Lauchhammer',
 'Czechia_Dobříš',
 'Sweden_Växjö',
 'Germany_Herzberg',
 'Austria_Ried im Innkreis',
 'Spain_Puigcerdá',
 'Andorra_Canillo',
 'Czechia_Pardubice',
 'France_Mont-de-Marsan',
 'Switzerland_Zermatt',
 'Germany_Furth im Wald',
 'Norway_Drøbak',
 'Poland_Piława Górna',
 'Sweden_Växjö',
 'Poland_Piława Górna',
 'Germany_Laage',
 'Poland_Piława Górna',
 'Poland_Brzeg Dolny',
 'Spain_Arroyo de la Luz',
 'France_Hendaye',
 'Slovenia_Spodnje Hoče',
 'Slovenia_Spodnje Hoče',
 'Slovenia_Dobje',
 'Slovenia_Spodnje Hoče',
 'Czechia_Rožnov pod Radhoštěm',
 'Hungary_Biatorbágy',
 'Czechia_Fulnek',
 'Spain_Arroyo de la Luz',
 'Hungary_Biatorbágy',
 'Spain_Arroyo de la Luz',
 'Croatia_Knin',
 'Hungary_Paks',
 'Poland_Międzyrzec Podlaski',
 'Portugal_Macedo de Cavaleiros',
 'Hungary_Paks',
 'Poland_Międzyrzec Podlaski',
 'Bosnia And Herzegovina_Bosanska Krupa',
 'Romania_Curtici',
 'Estonia_Elva',
 'Hungary_Hajdúsámson',
 'Ukraine_Zolochiv',
 'Estonia_Elva',
 'Hungary_Sarkad',
 'Hungary_Hajdúsámson',
 'Hungary_Hajdúsámson',
 'Hungary_Sarkad',
 'Romania_Strehaia',
 'Ukraine_Zolochiv',
 'Ukraine_Kozyatyn',
 'Russia_Pechory',
 'Russia_Kamennogorsk',
 'Morocco_Larache',
 'Malta_Żabbar',
 'Russia_Pechory',
 'Malta_Żabbar',
 'Russia_Pechory',
 'Macedonia_Aračinovo',
 'Morocco_Tétouan',
 'Romania_Cisnădie',
 'Romania_Odobeşti',
 'Russia_Kamennogorsk',
 'Estonia_Elva',
 'United Kingdom_Fraserburgh',
 'Macedonia_Kočani',
 'Macedonia_Kočani',
 'Ukraine_Skvyra',
 'Bulgaria_Stamboliyski',
 'Greece_Aridaía',
 'Greece_Lárisa',
 'Ukraine_Pomichna',
 'Macedonia_Kočani',
 'Estonia_Jõgeva',
 'Bulgaria_Kavarna',
 'Malta_Żabbar',
 'Malta_Żejtun',
 'Malta_Żabbar',
 'Ukraine_Pomichna',
 'Bulgaria_Vratsa',
 'Greece_Aridaía',
 'Greece_Spáta',
 'Ukraine_Dniprorudne',
 'Russia_Kolomna',
 'Romania_Odobeşti',
 'Russia_Podolsk',
 'Russia_Shebekino',
 'Turkey_Turgutlu',
 'Russia_Kamennogorsk',
 'Russia_Roshal',
 'Russia_Shebekino',
 'Russia_Staryy Oskol',
 'Ukraine_Yenakiieve',
 'Russia_Staryy Oskol',
 'Russia_Roshal',
 'Turkey_Muğla',
 'Russia_Shebekino',
 'Russia_Bednodem’yanovsk',
 'Russia_Aksay',
 'Turkey_Turgutlu',
 'Russia_Semikarakorsk',
 'Russia_Ruzayevka',
 'Russia_Semikarakorsk',
 'Russia_Volgograd',
 'Russia_Aksay',
 'Russia_Volzhsk',
 'Turkey_Muğla',
 'Russia_Uryupinsk',
 'Russia_Otradnyy',
 'Turkey_Nusaybin',
 'Russia_Asha',
 'Azerbaijan_Naftalan',
 'Iraq_Ar Ruţbah',
 'Iraq_Ar Ruţbah',
 'Iraq_Ar Ruţbah',
 'Iraq_Balad',
 'Azerbaijan_Naftalan',
 'Russia_Sredneuralsk',
 'Russia_Sredneuralsk',
 'Iran_Kabūdarāhang',
 'Russia_Sredneuralsk',
 'Iraq_Balad',
 'Russia_Nevyansk',
 'Iran_Kabūdarāhang',
 'Uzbekistan_To‘rtko‘l Shahri',
 'Russia_Surgut',
 'Iran_Naţanz',
 'Russia_Kalachinsk',
 'Iran_Naţanz',
 'Iran_Najafābād',
 'Iran_Naţanz',
 'Canada_Cowansville',
 'Afghanistan_Mehtar Lām',
 'Russia_Biysk',
 'Russia_Logashkino',
 'Canada_Cowansville',
 'United States_Morristown',
 'Canada_Cowansville',
 'United States_North Reading',
 'United States_Hanover',
 'United States_Hanover',
 'United States_Fairhaven',
 'United States_Alton',
 'United States_Acushnet',
 'Canada_Cowansville',
 'United States_Chatham',
 'United States_Chatham',
 'Afghanistan_Mehtar Lām',
 'United States_Fairhaven',
 'United States_Thompsonville',
 'United States_Montague',
 'United States_Somerset',
 'United States_Lebanon',
 'United States_Killingly',
 'United States_Lebanon',
 'United States_Lebanon',
 'United States_Montague',
 'Canada_Ajax',
 'United States_Lebanon',
 'Russia_Abaza',
 'United States_Hamden',
 'United States_Amsterdam',
 'United States_Ridgefield Park',
 'United States_Elmsford',
 'United States_Little Falls',
 'United States_Maplewood',
 'United States_Little Falls',
 'United States_Kenilworth',
 'United States_Maplewood',
 'United States_Maplewood',
 'United States_Maplewood',
 'United States_Coolbaugh',
 'United States_Kenilworth',
 'United States_Holland',
 'United States_Holland',
 'United States_Hillsborough',
 'United States_Fairview Township',
 'United States_Holland',
 'United States_Evesham',
 'United States_Medford',
 'United States_New Britain',
 'United States_New Britain',
 'United States_Evesham',
 'United States_Upper Darby',
 'United States_Hershey',
 'United States_Springfield Township',
 'Russia_Abaza',
 'Russia_Svirsk',
 'United States_Medford',
 'Canada_Ajax',
 'United States_Upper Uwchlan',
 'United States_Springfield Township',
 'Pakistan_Kharian',
 'United States_Leola',
 'United States_Lower',
 'Pakistan_Toba Tek Singh',
 'Canada_Ajax',
 'United States_Leola',
 'United States_Leola',
 'United States_Smyrna',
 'Russia_Abaza',
 'Russia_Logashkino',
 'United States_Salem',
 'United States_Chestertown',
 'United States_Chestertown',
 'United States_Calverton',
 'United States_Fairview Township',
 'United States_Rib Mountain',
 'United States_Fairview Township',
 'United States_Salem',
 'United States_Livonia',
 'United States_Pontiac',
 'United States_Pontiac',
 'Canada_Tecumseh',
 'United States_Pontiac',
 'United States_Grand Blanc',
 'United States_Grand Blanc',
 'United States_Owosso',
 'Pakistan_Toba Tek Singh',
 'United States_Westerville',
 'United States_Pataskala',
 'United States_Owosso',
 'Pakistan_Kharian',
 'United States_Vernon Hills',
 'United States_New London',
 'Russia_Shalaurova',
 'United States_Lumberton',
 'United States_Grand Rapids',
 'United States_Fuquay-Varina',
 'United States_New Hope',
 'United States_Germantown',
 'United States_Springboro',
 'United States_Grand Rapids',
 'United States_La Grange Park',
 'United States_Sanford',
 'United States_Crown Point',
 'United States_Springboro',
 'United States_New Hope',
 'United States_Springboro',
 'United States_Cheraw',
 'United States_Valparaiso',
 'United States_Hazel Crest',
 'United States_Valparaiso',
 'United States_Crown Point',
 'Mongolia_Baruun-Urt',
 'United States_Hazel Crest',
 'United States_Vernon Hills',
 'United States_Lumberton',
 'United States_Cornelius',
 'United States_Albemarle',
 'United States_Boone',
 'United States_La Grange Park',
 'United States_Albemarle',
 'United States_Hazel Crest',
 'United States_Cornelius',
 'Mongolia_Baruun-Urt',
 'United States_Lumberton',
 'United States_Stewartville',
 'United States_Stewartville',
 'United States_Woodridge',
 'United States_Middlesborough',
 'United States_Rib Mountain',
 'United States_Boone',
 'United States_Richfield',
 'United States_Groesbeck',
 'United States_Mount Holly',
 'United States_South Beloit',
 'United States_Travelers Rest',
 'United States_Batesburg-Leesville',
 'United States_Harrodsburg',
 'United States_Peru',
 'United States_Wrightsville',
 'United States_Batesburg-Leesville',
 'United States_Travelers Rest',
 'United States_Batesburg-Leesville',
 'United States_Richfield',
 'United States_Boonville',
 'United States_Smithville',
 'Russia_Logashkino',
 'United States_Madison',
 'United States_Milton',
 'United States_Wrightsville',
 'United States_Creston',
 'United States_Wrightsville',
 'United States_Milton',
 'United States_Independence',
 'United States_Smithville',
 'United States_Smithville',
 'United States_Albany',
 'United States_Independence',
 'United States_Vestavia Hills',
 'United States_Independence',
 'United States_Paola',
 'United States_Springdale',
 'United States_Cheney',
 'Canada_Merritt',
 'United States_Prattville',
 'United States_Ozark',
 'United States_Ozark',
 'China_Nanchong',
 'United States_DeFuniak Springs',
 'United States_DeFuniak Springs',
 'Canada_Banff',
 'China_Lanxi',
 'Canada_Lake Country',
 'United States_Atlanta',
 'United States_Wake Village',
 'United States_Tillmans Corner',
 'United States_Tillmans Corner',
 'United States_Craig',
 'United States_Wake Village',
 'United States_Walla Walla',
 'Canada_Merritt',
 'United States_Paris',
 'Canada_Merritt',
 'Canada_Merritt',
 'United States_Loveland',
 'United States_Cheney',
 'United States_Merrydale',
 'United States_Caldwell',
 'United States_Paris',
 'United States_Paris',
 'United States_Craig',
 'United States_Sulphur',
 'United States_Holladay',
 'United States_Tremonton',
 'United States_Alpine',
 'United States_Alpine',
 'United States_Alpine',
 'United States_Salem',
 'United States_Alpine',
 'United States_Cleveland',
 'United States_Hobbs',
 'United States_Connell',
 'United States_Connell',
 'Russia_Kavalerovo',
 'Russia_Kavalerovo',
 'United States_Oregon City',
 'United States_Littlefield',
 'United States_Hobbs',
 'Russia_Amursk',
 'China_Haicheng',
 'United States_Hobbs',
 'United States_Oregon City',
 'China_Lanxi',
 'United States_Kerman',
 'China_Anqing',
 'United States_Belen',
 'China_Anqing',
 'United States_Belen',
 'Japan_Ōbiraki',
 'United States_Horizon City',
 'United States_Kerman',
 'United States_Ceres',
 'United States_Ceres',
 'United States_Ceres',
 'China_Anqing',
 'United States_Ceres',
 'United States_La Habra Heights',
 'United States_Claremont',
 'United States_Claremont',
 'United States_Claremont',
 'United States_Claremont',
 'United States_Good Hope',
 'United States_Good Hope',
 'Japan_Ōtsuchi',
 'China_Liaocheng',
 'Japan_Ōtsuchi',
 'Japan_Ōtsuchi',
 'Japan_Yuasa',
 'Japan_Ōtsuchi',
 'Japan_Kamaishi',
 'Japan_Ōtsuchi',
 'Japan_Komaki',
 'Japan_Obama',
 'Japan_Komaki',
 'Japan_Yuasa',
 'Japan_Kamiichi',
 'Japan_Takahagi',
 'Japan_Ōarai',
 'Japan_Mino',
 'Japan_Sakurai',
 'Japan_Takahagi',
 'Japan_Ōarai',
 'Japan_Takahagi',
 'Japan_Shimo-tsuma',
 'Japan_Kumano',
 'Japan_Kamirenjaku',
 'Japan_Kamirenjaku',
 'Japan_Kamirenjaku',
 'Japan_Kumano',
 'Japan_Kokubunji',
 'Japan_Kamirenjaku',
 'Japan_Zama',
 'Japan_Sakurai']

In [810]:


import folium


# Create a map centered at a specific location
m = folium.Map(location=[0, 0], zoom_start=2)

# Add markers for each coordinate
for coord in coordinates:
    folium.Marker(coord).add_to(m)

# Save the map to an HTML file or display it in a Jupyter Notebook
m.save("map.html")

In [568]:
print(len(sampled_df))


cost_df = calculate_cost(city_id_inception,nearest_three)
sum_df_calculated = cost_df.assign(total_cost=cost_df.apply(sum_total_cost, axis=1))
optimum_city = choose_optimum_city(sum_df_calculated)
city_id_inception = optimum_city['city_id']
total_cost+= optimum_city['total_cost']


df['distance_km'] = sampled_df.apply(lambda row: haversine_distance_in_km(optimum_city['lat'], optimum_city['lng'], row['lat'], row['lng']), axis=1)
nearest_three_sorted = df.sort_values(by='distance_km')
nearest_three = nearest_three_sorted[:4]

set1 = set(nearest_three.city_id.to_list())
set2 = set([city_id_inception])
difference = list(set1 - set2)
df = sampled_df[~sampled_df['city_id'].isin(difference)]

print(len(df))

route.append(optimum_city)

500
497

C:\Users\murat.aydin\AppData\Local\Temp\ipykernel_3068\3928401728.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['distance_km'] = sampled_df.apply(lambda row: haversine_distance_in_km(optimum_city['lat'], optimum_city['lng'], row['lat'], row['lng']), axis=1)

In [569]:
difference

[1826292521, 1826815474, 1826645935]

In [535]:
route

[{'city_id': 1826002020,
  'total_cost': 4,
  'city_name': 'Wanstead',
  'lat': 51.5778,
  'lng': 0.0286,
  'country': 'United Kingdom'}]

In [458]:
nearest_three

,city_name,city_ascii,lat,lng,country,iso2,iso3,admin_name,capital,population,city_id,distance_km
0,Wanstead,Wanstead,51.5778,0.0286,United Kingdom,GB,GBR,Redbridge,NaN,11543.0,1826002020,0.000000
1,Pinner,Pinner,51.5932,-0.3894,United Kingdom,GB,GBR,Harrow,NaN,31130.0,1826466478,28.930526
4,Wheathampstead,Wheathampstead,51.8120,-0.2930,United Kingdom,GB,GBR,Hertfordshire,NaN,6410.0,1826432060,34.198008
3,Sevenoaks,Sevenoaks,51.2781,0.1874,United Kingdom,GB,GBR,Kent,NaN,29506.0,1826815474,35.096621

In [383]:
total_cost = 0
#df=sampled_df
city_id_inception = df['city_id'].values[0]
nearest_three = df[:4]

route=[]

for index,value in df.reset_index().iterrows():
   
    cost_df = calculate_cost(city_id_inception,nearest_three)
    sum_df_calculated = cost_df.assign(total_cost=cost_df.apply(sum_total_cost, axis=1))
    optimum_city = choose_optimum_city(sum_df_calculated)
    city_id_inception = optimum_city['city_id']
    total_cost+= optimum_city['total_cost']
    
    print(optimum_city['country'])

    set1 = set(nearest_three.city_id.to_list())
    set2 = set([city_id_inception])
    difference = list(set1 - set2)
    df = df[~df['city_id'].isin(difference)]
    df = df.drop('distance_km',axis=1)
    print(len(df))

    df['distance_km'] = df.apply(lambda row: haversine_distance_in_km(optimum_city['lat'], optimum_city['lng'], row['lat'], row['lng']), axis=1)
    nearest_ten_distance_sorted = df.sort_values(by='distance_km')
    nearest_three = nearest_ten_distance_sorted[:4]
    route.append(optimum_city)

United Kingdom
19384
United Kingdom
19381
United Kingdom
19378
United Kingdom
19375
United Kingdom
19372
United Kingdom
19369
United Kingdom
19366
United Kingdom
19363
United Kingdom
19360
United Kingdom
19357
United Kingdom
19354
United Kingdom
19351
United Kingdom
19348
United Kingdom
19345
United Kingdom
19342
United Kingdom
19339
United Kingdom
19336
United Kingdom
19333
United Kingdom
19330
United Kingdom
19327
United Kingdom
19324
United Kingdom
19321
United Kingdom
19318
United Kingdom
19315
United Kingdom
19312
United Kingdom
19309
United Kingdom
19306
United Kingdom
19303
United Kingdom
19300
United Kingdom
19297
United Kingdom
19294
United Kingdom
19291
United Kingdom
19288
United Kingdom
19285
United Kingdom
19282
United Kingdom
19279
United Kingdom
19276
United Kingdom
19273
United Kingdom
19270
United Kingdom
19267
United Kingdom
19264
United Kingdom
19261
United Kingdom
19258
United Kingdom
19255
United Kingdom
19252
United Kingdom
19249
United Kingdom
19246
United Kingdom
19243
United Kingdom
19240
United Kingdom
19237
United Kingdom
19234
United Kingdom
19231
United Kingdom
19228
United Kingdom
19225
United Kingdom
19222
United Kingdom
19219
United Kingdom
19216
United Kingdom
19213
United Kingdom
19210
United Kingdom
19207
United Kingdom
19204
United Kingdom
19201
United Kingdom
19198
United Kingdom
19195
United Kingdom
19192
United Kingdom
19189
United Kingdom
19186
United Kingdom
19183
United Kingdom
19180
United Kingdom
19177
United Kingdom
19174
United Kingdom
19171
United Kingdom
19168
United Kingdom
19165
United Kingdom
19162
United Kingdom
19159
United Kingdom
19156
United Kingdom
19153
United Kingdom
19150
United Kingdom
19147
United Kingdom
19144
United Kingdom
19141
United Kingdom
19138
United Kingdom
19135
United Kingdom
19132
United Kingdom
19129
United Kingdom
19126
United Kingdom
19123
United Kingdom
19120
United Kingdom
19117
United Kingdom
19114
United Kingdom
19111
United Kingdom
19108
United Kingdom
19105
United Kingdom
19102
United Kingdom
19099
United Kingdom
19096
United Kingdom
19093
United Kingdom
19090
United Kingdom
19087
United Kingdom
19084
United Kingdom
19081
United Kingdom
19078
United Kingdom
19075
United Kingdom
19072
United Kingdom
19069
United Kingdom
19066
United Kingdom
19063
United Kingdom
19060
United Kingdom
19057
United Kingdom
19054
United Kingdom
19051
United Kingdom
19048
United Kingdom
19045
United Kingdom
19042
United Kingdom
19039
United Kingdom
19036
United Kingdom
19033
United Kingdom
19030
United Kingdom
19027
United Kingdom
19024
United Kingdom
19021
United Kingdom
19018
United Kingdom
19015
United Kingdom
19012
United Kingdom
19009
United Kingdom
19006
United Kingdom
19003
United Kingdom
19000
United Kingdom
18997
United Kingdom
18994
United Kingdom
18991
United Kingdom
18988
United Kingdom
18985
United Kingdom
18982
United Kingdom
18979
United Kingdom
18976
United Kingdom
18973
United Kingdom
18970
United Kingdom
18967
United Kingdom
18964
United Kingdom
18961
United Kingdom
18958
United Kingdom
18955
United Kingdom
18952
United Kingdom
18949
United Kingdom
18946
United Kingdom
18943
United Kingdom
18940
United Kingdom
18937
United Kingdom
18934
United Kingdom
18931
United Kingdom
18928
United Kingdom
18925
United Kingdom
18922
United Kingdom
18919
United Kingdom
18916
United Kingdom
18913
United Kingdom
18910
United Kingdom
18907
United Kingdom
18904
United Kingdom
18901
United Kingdom
18898
United Kingdom
18895
United Kingdom
18892
United Kingdom
18889
United Kingdom
18886
United Kingdom
18883
United Kingdom
18880
United Kingdom
18877
United Kingdom
18874
United Kingdom
18871
United Kingdom
18868
United Kingdom
18865
United Kingdom
18862
United Kingdom
18859
United Kingdom
18856
United Kingdom
18853
United Kingdom
18850
United Kingdom
18847
United Kingdom
18844
United Kingdom
18841
United Kingdom
18838
United Kingdom
18835
United Kingdom
18832
United Kingdom
18829
United Kingdom
18826
United Kingdom
18823
United Kingdom
18820
United Kingdom
18817
United Kingdom
18814
United Kingdom
18811
United Kingdom
18808
United Kingdom
18805
United Kingdom
18802
United Kingdom
18799
United Kingdom
18796
United Kingdom
18793
United Kingdom
18790
United Kingdom
18787
United Kingdom
18784
United Kingdom
18781
United Kingdom
18778
United Kingdom
18775
United Kingdom
18772
United Kingdom
18769
United Kingdom
18766
United Kingdom
18763
United Kingdom
18760
United Kingdom
18757
United Kingdom
18754
United Kingdom
18751
United Kingdom
18748
United Kingdom
18745
United Kingdom
18742
United Kingdom
18739
United Kingdom
18736
United Kingdom
18733
United Kingdom
18730
United Kingdom
18727
United Kingdom
18724
United Kingdom
18721
United Kingdom
18718
United Kingdom
18715
United Kingdom
18712
United Kingdom
18709
United Kingdom
18706
United Kingdom
18703
United Kingdom
18700
United Kingdom
18697
United Kingdom
18694
United Kingdom
18691
United Kingdom
18688
United Kingdom
18685
United Kingdom
18682
United Kingdom
18679
United Kingdom
18676
United Kingdom
18673
United Kingdom
18670
United Kingdom
18667
United Kingdom
18664
United Kingdom
18661
United Kingdom
18658
United Kingdom
18655
United Kingdom
18652
United Kingdom
18649
United Kingdom
18646
United Kingdom
18643
United Kingdom
18640
United Kingdom
18637
United Kingdom
18634
United Kingdom
18631
United Kingdom
18628
United Kingdom
18625
United Kingdom
18622
United Kingdom
18619
United Kingdom
18616
United Kingdom
18613
United Kingdom
18610
United Kingdom
18607
United Kingdom
18604
United Kingdom
18601
United Kingdom
18598
United Kingdom
18595
United Kingdom
18592
United Kingdom
18589
United Kingdom
18586
United Kingdom
18583
United Kingdom
18580
United Kingdom
18577
United Kingdom
18574
United Kingdom
18571
United Kingdom
18568
United Kingdom
18565
United Kingdom
18562
United Kingdom
18559
United Kingdom
18556

KeyboardInterrupt:

In [384]:
route

[{'city_id': 1826499077,
  'total_cost': 8,
  'city_name': 'Spitalfields',
  'lat': 51.5166,
  'lng': -0.075,
  'country': 'United Kingdom'},
 {'city_id': 1826642497,
  'total_cost': 2,
  'city_name': 'Stepney',
  'lat': 51.5152,
  'lng': -0.0462,
  'country': 'United Kingdom'},
 {'city_id': 1826369701,
  'total_cost': 8,
  'city_name': 'West Ham',
  'lat': 51.5347,
  'lng': 0.0077,
  'country': 'United Kingdom'},
 {'city_id': 1826587417,
  'total_cost': 4,
  'city_name': 'East Ham',
  'lat': 51.5323,
  'lng': 0.0554,
  'country': 'United Kingdom'},
 {'city_id': 1826397253,
  'total_cost': 8,
  'city_name': 'Goodmayes',
  'lat': 51.5584,
  'lng': 0.1119,
  'country': 'United Kingdom'},
 {'city_id': 1826813082,
  'total_cost': 8,
  'city_name': 'Hornchurch',
  'lat': 51.5565,
  'lng': 0.2128,
  'country': 'United Kingdom'},
 {'city_id': 1826422421,
  'total_cost': 8,
  'city_name': 'South Ockendon',
  'lat': 51.5207,
  'lng': 0.2956,
  'country': 'United Kingdom'},
 {'city_id': 1826904946,
  'total_cost': 4,
  'city_name': 'Orsett',
  'lat': 51.51,
  'lng': 0.37,
  'country': 'United Kingdom'},
 {'city_id': 1826848098,
  'total_cost': 2,
  'city_name': 'Stanford le Hope',
  'lat': 51.514,
  'lng': 0.4244,
  'country': 'United Kingdom'},
 {'city_id': 1826099748,
  'total_cost': 4,
  'city_name': 'Pitsea',
  'lat': 51.569,
  'lng': 0.504,
  'country': 'United Kingdom'},
 {'city_id': 1826836917,
  'total_cost': 8,
  'city_name': 'Thundersley',
  'lat': 51.57,
  'lng': 0.59,
  'country': 'United Kingdom'},
 {'city_id': 1826444113,
  'total_cost': 8,
  'city_name': 'Hockley',
  'lat': 51.6014,
  'lng': 0.6363,
  'country': 'United Kingdom'},
 {'city_id': 1826524208,
  'total_cost': 8,
  'city_name': 'Southend',
  'lat': 51.55,
  'lng': 0.71,
  'country': 'United Kingdom'},
 {'city_id': 1826267348,
  'total_cost': 4,
  'city_name': 'Great Wakering',
  'lat': 51.5516,
  'lng': 0.8165,
  'country': 'United Kingdom'},
 {'city_id': 1826548197,
  'total_cost': 2,
  'city_name': 'Minster',
  'lat': 51.421,
  'lng': 0.809,
  'country': 'United Kingdom'},
 {'city_id': 1826000093,
  'total_cost': 8,
  'city_name': 'Faversham',
  'lat': 51.3177,
  'lng': 0.8928,
  'country': 'United Kingdom'},
 {'city_id': 1826355765,
  'total_cost': 8,
  'city_name': 'Blean',
  'lat': 51.307,
  'lng': 1.043,
  'country': 'United Kingdom'},
 {'city_id': 1826679931,
  'total_cost': 4,
  'city_name': 'Sturry',
  'lat': 51.3036,
  'lng': 1.1211,
  'country': 'United Kingdom'},
 {'city_id': 1826115786,
  'total_cost': 8,
  'city_name': 'Birchington',
  'lat': 51.377,
  'lng': 1.305,
  'country': 'United Kingdom'},
 {'city_id': 1826914470,
  'total_cost': 8,
  'city_name': 'Cliftonville',
  'lat': 51.3881,
  'lng': 1.4046,
  'country': 'United Kingdom'},
 {'city_id': 1826167465,
  'total_cost': 4,
  'city_name': 'Broadstairs',
  'lat': 51.3589,
  'lng': 1.4394,
  'country': 'United Kingdom'},
 {'city_id': 1826000065,
  'total_cost': 2,
  'city_name': 'Deal',
  'lat': 51.2226,
  'lng': 1.4006,
  'country': 'United Kingdom'},
 {'city_id': 1826257230,
  'total_cost': 4,
  'city_name': 'Folkestone',
  'lat': 51.081,
  'lng': 1.166,
  'country': 'United Kingdom'},
 {'city_id': 1826600315,
  'total_cost': 2,
  'city_name': 'New Romney',
  'lat': 50.985,
  'lng': 0.941,
  'country': 'United Kingdom'},
 {'city_id': 1826780016,
  'total_cost': 2,
  'city_name': 'Lydd',
  'lat': 50.9509,
  'lng': 0.9064,
  'country': 'United Kingdom'},
 {'city_id': 1826348969,
  'total_cost': 4,
  'city_name': 'Great Chart',
  'lat': 51.1409,
  'lng': 0.8372,
  'country': 'United Kingdom'},
 {'city_id': 1826884124,
  'total_cost': 8,
  'city_name': 'Bearsted',
  'lat': 51.2738,
  'lng': 0.5789,
  'country': 'United Kingdom'},
 {'city_id': 1826029798,
  'total_cost': 4,
  'city_name': 'Boxley',
  'lat': 51.3024,
  'lng': 0.5429,
  'country': 'United Kingdom'},
 {'city_id': 1826765672,
  'total_cost': 8,
  'city_name': 'Chatham',
  'lat': 51.37,
  'lng': 0.52,
  'country': 'United Kingdom'},
 {'city_id': 1826642243,
  'total_cost': 4,
  'city_name': 'Gillingham',
  'lat': 51.385,
  'lng': 0.55,
  'country': 'United Kingdom'},
 {'city_id': 1826039806,
  'total_cost': 2,
  'city_name': 'Rainham',
  'lat': 51.36,
  'lng': 0.61,
  'country': 'United Kingdom'},
 {'city_id': 1826300495,
  'total_cost': 4,
  'city_name': 'Paddock Wood',
  'lat': 51.1756,
  'lng': 0.3955,
  'country': 'United Kingdom'},
 {'city_id': 1826968649,
  'total_cost': 2,
  'city_name': 'Pembury',
  'lat': 51.1456,
  'lng': 0.3224,
  'country': 'United Kingdom'},
 {'city_id': 1826011948,
  'total_cost': 2,
  'city_name': 'Royal Tunbridge Wells',
  'lat': 51.132,
  'lng': 0.263,
  'country': 'United Kingdom'},
 {'city_id': 1826320254,
  'total_cost': 8,
  'city_name': 'Uckfield',
  'lat': 50.97,
  'lng': 0.1,
  'country': 'United Kingdom'},
 {'city_id': 1826774397,
  'total_cost': 2,
  'city_name': 'Lewes',
  'lat': 50.8756,
  'lng': 0.0179,
  'country': 'United Kingdom'},
 {'city_id': 1826390746,
  'total_cost': 4,
  'city_name': 'Newhaven',
  'lat': 50.8,
  'lng': 0.06,
  'country': 'United Kingdom'},
 {'city_id': 1826151855,
  'total_cost': 8,
  'city_name': 'Hailsham',
  'lat': 50.8647,
  'lng': 0.2577,
  'country': 'United Kingdom'},
 {'city_id': 1826517116,
  'total_cost': 4,
  'city_name': 'Sidley',
  'lat': 50.86,
  'lng': 0.47,
  'country': 'United Kingdom'},
 {'city_id': 1826499763,
  'total_cost': 8,
  'city_name': 'Hastings',
  'lat': 50.85,
  'lng': 0.57,
  'country': 'United Kingdom'},
 {'city_id': 1826867983,
  'total_cost': 2,
  'city_name': 'Burgess Hill',
  'lat': 50.9535,
  'lng': -0.1262,
  'country': 'United Kingdom'},
 {'city_id': 1826419818,
  'total_cost': 4,
  'city_name': 'Hove',
  'lat': 50.8352,
  'lng': -0.1758,
  'country': 'United Kingdom'},
 {'city_id': 1826260470,
  'total_cost': 2,
  'city_name': 'Shoreham-by-Sea',
  'lat': 50.834,
  'lng': -0.273,
  'country': 'United Kingdom'},
 {'city_id': 1826407829,
  'total_cost': 2,
  'city_name': 'Steyning',
  'lat': 50.8868,
  'lng': -0.3279,
  'country': 'United Kingdom'},
 {'city_id': 1826564099,
  'total_cost': 2,
  'city_name': 'Goring by Sea',
  'lat': 50.8122,
  'lng': -0.4244,
  'country': 'United Kingdom'},
 {'city_id': 1826971079,
  'total_cost': 2,
  'city_name': 'Rustington',
  'lat': 50.8102,
  'lng': -0.5052,
  'country': 'United Kingdom'},
 {'city_id': 1826012790,
  'total_cost': 2,
  'city_name': 'Felpham',
  'lat': 50.7905,
  'lng': -0.6539,
  'country': 'United Kingdom'},
 {'city_id': 1826570427,
  'total_cost': 2,
  'city_name': 'Pagham',
  'lat': 50.7708,
  'lng': -0.7448,
  'country': 'United Kingdom'},
 {'city_id': 1826709483,
  'total_cost': 2,
  'city_name': 'Southbourne',
  'lat': 50.845,
  'lng': -0.9081,
  'country': 'United Kingdom'},
 {'city_id': 1826591617,
  'total_cost': 4,
  'city_name': 'Horndean',
  'lat': 50.9136,
  'lng': -0.9961,
  'country': 'United Kingdom'},
 {'city_id': 1826282977,
  'total_cost': 4,
  'city_name': 'Petersfield',
  'lat': 51.0038,
  'lng': -0.9345,
  'country': 'United Kingdom'},
 {'city_id': 1826850012,
  'total_cost': 4,
  'city_name': 'Liphook',
  'lat': 51.076,
  'lng': -0.803,
  'country': 'United Kingdom'},
 {'city_id': 1826484458,
  'total_cost': 4,
  'city_name': 'Witley',
  'lat': 51.15,
  'lng': -0.646,
  'country': 'United Kingdom'},
 {'city_id': 1826383822,
  'total_cost': 8,
  'city_name': 'Cranleigh',
  'lat': 51.1363,
  'lng': -0.4784,
  'country': 'United Kingdom'},
 {'city_id': 1826018789,
  'total_cost': 8,
  'city_name': 'Horsham',
  'lat': 51.062,
  'lng': -0.325,
  'country': 'United Kingdom'},
 {'city_id': 1826470693,
  'total_cost': 8,
  'city_name': 'Crawley',
  'lat': 51.1092,
  'lng': -0.1872,
  'country': 'United Kingdom'},
 {'city_id': 1826978438,
  'total_cost': 2,
  'city_name': 'Worth',
  'lat': 51.113,
  'lng': -0.147,
  'country': 'United Kingdom'},
 {'city_id': 1826968217,
  'total_cost': 8,
  'city_name': 'Godstone',
  'lat': 51.248,
  'lng': -0.064,
  'country': 'United Kingdom'},
 {'city_id': 1826650120,
  'total_cost': 4,
  'city_name': 'Oxted',
  'lat': 51.257,
  'lng': -0.006,
  'country': 'United Kingdom'},
 {'city_id': 1826495873,
  'total_cost': 2,
  'city_name': 'Warlingham',
  'lat': 51.3095,
  'lng': -0.0574,
  'country': 'United Kingdom'},
 {'city_id': 1826669089,
  'total_cost': 2,
  'city_name': 'West Wickham',
  'lat': 51.3765,
  'lng': -0.0193,
  'country': 'United Kingdom'},
 {'city_id': 1826385764,
  'total_cost': 8,
  'city_name': 'Bromley',
  'lat': 51.407,
  'lng': 0.021,
  'country': 'United Kingdom'},
 {'city_id': 1826578404,
  'total_cost': 4,
  'city_name': 'Chislehurst',
  'lat': 51.412,
  'lng': 0.075,
  'country': 'United Kingdom'},
 {'city_id': 1826992580,
  'total_cost': 8,
  'city_name': 'Welling',
  'lat': 51.4594,
  'lng': 0.1097,
  'country': 'United Kingdom'},
 {'city_id': 1826858601,
  'total_cost': 2,
  'city_name': 'Bexleyheath',
  'lat': 51.459,
  'lng': 0.138,
  'country': 'United Kingdom'},
 {'city_id': 1826420723,
  'total_cost': 8,
  'city_name': 'Wilmington',
  'lat': 51.4309,
  'lng': 0.1876,
  'country': 'United Kingdom'},
 {'city_id': 1826005730,
  'total_cost': 2,
  'city_name': 'Chelsfield',
  'lat': 51.3582,
  'lng': 0.1278,
  'country': 'United Kingdom'},
 {'city_id': 1826002522,
  'total_cost': 2,
  'city_name': 'Thornton Heath',
  'lat': 51.4002,
  'lng': -0.1086,
  'country': 'United Kingdom'},
 {'city_id': 1826947069,
  'total_cost': 2,
  'city_name': 'Mitcham',
  'lat': 51.4009,
  'lng': -0.1517,
  'country': 'United Kingdom'},
 {'city_id': 1826667903,
  'total_cost': 2,
  'city_name': 'Morden',
  'lat': 51.4015,
  'lng': -0.1949,
  'country': 'United Kingdom'},
 {'city_id': 1826017216,
  'total_cost': 8,
  'city_name': 'Cheam',
  'lat': 51.36,
  'lng': -0.21,
  'country': 'United Kingdom'},
 {'city_id': 1826738493,
  'total_cost': 4,
  'city_name': 'Banstead',
  'lat': 51.322,
  'lng': -0.204,
  'country': 'United Kingdom'},
 {'city_id': 1826912606,
  'total_cost': 2,
  'city_name': 'Kingswood',
  'lat': 51.2931,
  'lng': -0.2086,
  'country': 'United Kingdom'},
 {'city_id': 1826812300,
  'total_cost': 2,
  'city_name': 'Leatherhead',
  'lat': 51.295,
  'lng': -0.329,
  'country': 'United Kingdom'},
 {'city_id': 1826292521,
  'total_cost': 8,
  'city_name': 'Claygate',
  'lat': 51.36,
  'lng': -0.342,
  'country': 'United Kingdom'},
 {'city_id': 1826840315,
  'total_cost': 4,
  'city_name': 'Long Ditton',
  'lat': 51.385,
  'lng': -0.321,
  'country': 'United Kingdom'},
 {'city_id': 1826345299,
  'total_cost': 4,
  'city_name': 'Kingston upon Thames',
  'lat': 51.4103,
  'lng': -0.2995,
  'country': 'United Kingdom'},
 {'city_id': 1826875300,
  'total_cost': 8,
  'city_name': 'Richmond',
  'lat': 51.456,
  'lng': -0.301,
  'country': 'United Kingdom'},
 {'city_id': 1826793320,
  'total_cost': 4,
  'city_name': 'Acton',
  'lat': 51.5135,
  'lng': -0.2707,
  'country': 'United Kingdom'},
 {'city_id': 1826123345,
  'total_cost': 2,
  'city_name': 'Kew Green',
  'lat': 51.5308,
  'lng': -0.2248,
  'country': 'United Kingdom'},
 {'city_id': 1826583042,
  'total_cost': 4,
  'city_name': 'Kensington',
  'lat': 51.5,
  'lng': -0.19,
  'country': 'United Kingdom'},
 {'city_id': 1826058068,
  'total_cost': 8,
  'city_name': 'Brixton',
  'lat': 51.463,
  'lng': -0.106,
  'country': 'United Kingdom'},
 {'city_id': 1826538674,
  'total_cost': 8,
  'city_name': 'Tottenham',
  'lat': 51.588,
  'lng': -0.072,
  'country': 'United Kingdom'},
 {'city_id': 1826905865,
  'total_cost': 2,
  'city_name': 'Edmonton',
  'lat': 51.6154,
  'lng': -0.0708,
  'country': 'United Kingdom'},
 {'city_id': 1826009890,
  'total_cost': 8,
  'city_name': 'Walthamstow',
  'lat': 51.59,
  'lng': 0.0,
  'country': 'United Kingdom'},
 {'city_id': 1826018401,
  'total_cost': 8,
  'city_name': 'Buckhurst Hill',
  'lat': 51.632,
  'lng': 0.036,
  'country': 'United Kingdom'},
 {'city_id': 1826436728,
  'total_cost': 4,
  'city_name': 'Loughton',
  'lat': 51.6494,
  'lng': 0.0735,
  'country': 'United Kingdom'},
 {'city_id': 1826234838,
  'total_cost': 2,
  'city_name': 'Epping',
  'lat': 51.7004,
  'lng': 0.1087,
  'country': 'United Kingdom'},
 {'city_id': 1826697064,
  'total_cost': 2,
  'city_name': 'Chipping Ongar',
  'lat': 51.703,
  'lng': 0.244,
  'country': 'United Kingdom'},
 {'city_id': 1826482164,
  'total_cost': 4,
  'city_name': 'Shenfield',
  'lat': 51.6297,
  'lng': 0.3192,
  'country': 'United Kingdom'},
 {'city_id': 1826387868,
  'total_cost': 8,
  'city_name': 'Galleywood',
  'lat': 51.697,
  'lng': 0.474,
  'country': 'United Kingdom'},
 {'city_id': 1826685396,
  'total_cost': 2,
  'city_name': 'Great Baddow',
  'lat': 51.719,
  'lng': 0.507,
  'country': 'United Kingdom'},
 {'city_id': 1826336424,
  'total_cost': 4,
  'city_name': 'Witham',
  'lat': 51.7978,
  'lng': 0.6373,
  'country': 'United Kingdom'},
 {'city_id': 1826001135,
  'total_cost': 8,
  'city_name': 'Lexden',
  'lat': 51.8833,
  'lng': 0.8667,
  'country': 'United Kingdom'},
 {'city_id': 1826531596,
  'total_cost': 4,
  'city_name': 'Wivenhoe',
  'lat': 51.8667,
  'lng': 0.9625,
  'country': 'United Kingdom'},
 {'city_id': 1826044595,
  'total_cost': 4,
  'city_name': 'Clacton-on-Sea',
  'lat': 51.7918,
  'lng': 1.1457,
  'country': 'United Kingdom'},
 {'city_id': 1826193047,
  'total_cost': 4,
  'city_name': 'Felixstowe',
  'lat': 51.9639,
  'lng': 1.3515,
  'country': 'United Kingdom'},
 {'city_id': 1826695491,
  'total_cost': 8,
  'city_name': 'Leiston',
  'lat': 52.206,
  'lng': 1.579,
  'country': 'United Kingdom'},
 {'city_id': 1826912261,
  'total_cost': 8,
  'city_name': 'Carlton Colville',
  'lat': 52.454,
  'lng': 1.691,
  'country': 'United Kingdom'},
 {'city_id': 1826419858,
  'total_cost': 4,
  'city_name': 'Lowestoft',
  'lat': 52.48,
  'lng': 1.75,
  'country': 'United Kingdom'},
 {'city_id': 1826817641,
  'total_cost': 4,
  'city_name': 'Caister-on-Sea',
  'lat': 52.651,
  'lng': 1.733,
  'country': 'United Kingdom'},
 {'city_id': 1826981933,
  'total_cost': 8,
  'city_name': 'North Walsham',
  'lat': 52.821,
  'lng': 1.387,
  'country': 'United Kingdom'},
 {'city_id': 1826263534,
  'total_cost': 4,
  'city_name': 'Cromer',
  'lat': 52.931,
  'lng': 1.302,
  'country': 'United Kingdom'},
 {'city_id': 1826464470,
  'total_cost': 8,
  'city_name': 'Hellesdon',
  'lat': 52.6485,
  'lng': 1.2509,
  'country': 'United Kingdom'},
 {'city_id': 1826313162,
  'total_cost': 2,
  'city_name': 'Hethersett',
  'lat': 52.5983,
  'lng': 1.1833,
  'country': 'United Kingdom'},
 {'city_id': 1826598466,
  'total_cost': 4,
  'city_name': 'Diss',
  'lat': 52.3812,
  'lng': 1.1079,
  'country': 'United Kingdom'},
 {'city_id': 1826085574,
  'total_cost': 2,
  'city_name': 'Stowmarket',
  'lat': 52.19,
  'lng': 1.0,
  'country': 'United Kingdom'},
 {'city_id': 1826607712,
  'total_cost': 4,
  'city_name': 'Great Cornard',
  'lat': 52.0245,
  'lng': 0.7497,
  'country': 'United Kingdom'},
 {'city_id': 1826015750,
  'total_cost': 2,
  'city_name': 'Haverhill',
  'lat': 52.08,
  'lng': 0.44,
  'country': 'United Kingdom'},
 {'city_id': 1826424344,
  'total_cost': 2,
  'city_name': 'Saffron Walden',
  'lat': 52.022,
  'lng': 0.243,
  'country': 'United Kingdom'},
 {'city_id': 1826626668,
  'total_cost': 2,
  'city_name': 'Stansted Mountfitchet',
  'lat': 51.898,
  'lng': 0.198,
  'country': 'United Kingdom'},
 {'city_id': 1826916498,
  'total_cost': 2,
  'city_name': 'Sawbridgeworth',
  'lat': 51.814,
  'lng': 0.15,
  'country': 'United Kingdom'},
 {'city_id': 1826912872,
  'total_cost': 2,
  'city_name': 'Hertford',
  'lat': 51.795,
  'lng': -0.078,
  'country': 'United Kingdom'},
 {'city_id': 1826408007,
  'total_cost': 8,
  'city_name': 'Potters Bar',
  'lat': 51.698,
  'lng': -0.183,
  'country': 'United Kingdom'},
 {'city_id': 1826125584,
  'total_cost': 4,
  'city_name': 'East Barnet',
  'lat': 51.643,
  'lng': -0.163,
  'country': 'United Kingdom'},
 {'city_id': 1826718744,
  'total_cost': 4,
  'city_name': 'Friern Barnet',
  'lat': 51.6126,
  'lng': -0.1584,
  'country': 'United Kingdom'},
 {'city_id': 1826180591,
  'total_cost': 2,
  'city_name': 'East Finchley',
  'lat': 51.5902,
  'lng': -0.1753,
  'country': 'United Kingdom'},
 {'city_id': 1826048876,
  'total_cost': 2,
  'city_name': 'Edgware',
  'lat': 51.6185,
  'lng': -0.2729,
  'country': 'United Kingdom'},
 {'city_id': 1826433403,
  'total_cost': 4,
  'city_name': 'Borehamwood',
  'lat': 51.6578,
  'lng': -0.2723,
  'country': 'United Kingdom'},
 {'city_id': 1826850069,
  'total_cost': 2,
  'city_name': 'Radlett',
  'lat': 51.685,
  'lng': -0.318,
  'country': 'United Kingdom'},
 {'city_id': 1826250958,
  'total_cost': 4,
  'city_name': 'London Colney',
  'lat': 51.726,
  'lng': -0.3,
  'country': 'United Kingdom'},
 {'city_id': 1826504633,
  'total_cost': 4,
  'city_name': 'Sandridge',
  'lat': 51.7808,
  'lng': -0.3038,
  'country': 'United Kingdom'},
 {'city_id': 1826432060,
  'total_cost': 2,
  'city_name': 'Wheathampstead',
  'lat': 51.812,
  'lng': -0.293,
  'country': 'United Kingdom'},
 {'city_id': 1826317854,
  'total_cost': 4,
  'city_name': 'Stopsley',
  'lat': 51.899,
  'lng': -0.396,
  'country': 'United Kingdom'},
 {'city_id': 1826319019,
  'total_cost': 2,
  'city_name': 'Leagrave',
  'lat': 51.903,
  'lng': -0.466,
  'country': 'United Kingdom'},
 {'city_id': 1826093917,
  'total_cost': 8,
  'city_name': 'Hitchin',
  'lat': 51.947,
  'lng': -0.283,
  'country': 'United Kingdom'},
 {'city_id': 1826427353,
  'total_cost': 8,
  'city_name': 'Baldock',
  'lat': 51.99,
  'lng': -0.19,
  'country': 'United Kingdom'},
 {'city_id': 1826846311,
  'total_cost': 2,
  'city_name': 'Stotfold',
  'lat': 52.018,
  'lng': -0.228,
  'country': 'United Kingdom'},
 {'city_id': 1826771105,
  'total_cost': 4,
  'city_name': 'Bedford',
  'lat': 52.135,
  'lng': -0.47,
  'country': 'United Kingdom'},
 {'city_id': 1826441495,
  'total_cost': 8,
  'city_name': 'Saint Neots',
  'lat': 52.228,
  'lng': -0.27,
  'country': 'United Kingdom'},
 {'city_id': 1826186113,
  'total_cost': 8,
  'city_name': 'Saint Ives',
  'lat': 52.3344,
  'lng': -0.0761,
  'country': 'United Kingdom'},
 {'city_id': 1826834854,
  'total_cost': 4,
  'city_name': 'Cottenham',
  'lat': 52.2865,
  'lng': 0.1244,
  'country': 'United Kingdom'},
 {'city_id': 1826313241,
  'total_cost': 2,
  'city_name': 'Waterbeach',
  'lat': 52.2664,
  'lng': 0.1908,
  'country': 'United Kingdom'},
 {'city_id': 1826606528,
  'total_cost': 4,
  'city_name': 'Soham',
  'lat': 52.3338,
  'lng': 0.3361,
  'country': 'United Kingdom'},
 {'city_id': 1826506200,
  'total_cost': 4,
  'city_name': 'Brandon',
  'lat': 52.4474,
  'lng': 0.6242,
  'country': 'United Kingdom'},
 {'city_id': 1826126366,
  'total_cost': 4,
  'city_name': 'King’s Lynn',
  'lat': 52.7543,
  'lng': 0.3976,
  'country': 'United Kingdom'},
 {'city_id': 1826247178,
  'total_cost': 4,
  'city_name': 'Fakenham',
  'lat': 52.8356,
  'lng': 0.851,
  'country': 'United Kingdom'},
 {'city_id': 1826662811,
  'total_cost': 2,
  'city_name': 'Skegness',
  'lat': 53.14,
  'lng': 0.34,
  'country': 'United Kingdom'},
 {'city_id': 1826000615,
  'total_cost': 2,
  'city_name': 'Mablethorpe',
  'lat': 53.3409,
  'lng': 0.261,
  'country': 'United Kingdom'},
 {'city_id': 1826584652,
  'total_cost': 4,
  'city_name': 'Cleethorpes',
  'lat': 53.5533,
  'lng': -0.0215,
  'country': 'United Kingdom'},
 {'city_id': 1826700880,
  'total_cost': 2,
  'city_name': 'Grimsby',
  'lat': 53.5595,
  'lng': -0.068,
  'country': 'United Kingdom'},
 {'city_id': 1826436345,
  'total_cost': 2,
  'city_name': 'Withernsea',
  'lat': 53.7285,
  'lng': 0.0382,
  'country': 'United Kingdom'},
 {'city_id': 1826612208,
  'total_cost': 4,
  'city_name': 'Hornsea',
  'lat': 53.9108,
  'lng': -0.1676,
  'country': 'United Kingdom'},
 {'city_id': 1826640623,
  'total_cost': 4,
  'city_name': 'Bridlington',
  'lat': 54.0819,
  'lng': -0.1923,
  'country': 'United Kingdom'},
 {'city_id': 1826806664,
  'total_cost': 2,

In [385]:
latitudes = [item['lat'] for item in route]
longitudes = [item['lng'] for item in route]

coordinates = zip(latitudes,longitudes)


import folium


# Create a map centered at a specific location
m = folium.Map(location=[0, 0], zoom_start=2)

# Add markers for each coordinate
for coord in coordinates:
    folium.Marker(coord).add_to(m)

# Save the map to an HTML file or display it in a Jupyter Notebook
m.save("map.html")

In [386]:
total_cost/24

49.5